main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  width:100vw;
}

body {
  font-family: 'Outfit', sans-serif;
}

header {
  text-align: center;
  font-size: 3rem;
}

h1 {
  font-size: .5em;
}

h4 {
  font-size: .4em;
}

input {
  margin-top:3em;
}

button { 
  background: none;
	color:#0FB7FF;;
  border: outset;
	border:#0FB7FF;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover { 
  background: none;
	color:rgb(177, 177, 14);
  border: outset;
	border:#0FB7FF;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.shuffle {
  color:#0FB7FF;
  /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000; */
}

.dark-mode {
  color:white;
  background-color:black;
}


