.saved-stats {
    display:flex;
    flex-direction: column;
}

.saved-stats-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    /* width:120%; */
}
/* @media screen and (max-width: 500px) {
    button {
      font-size: 1.2rem;
    }
  } */